<!DOCTYPE html>
<!-- This template was created by Nahidul Alam ISM 5994 --> 
<html lang="en">
<head>
	<title>Forward Fitness Club</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Use the header area for the website name or logo-->
	<header>
		Forward Fitness Club
	</header>
	
	<!--Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		Home &nbsp; &nbsp; 
		About Use &nbsp; &nbsp; 
		Classes &nbsp; &nbsp; 
		Nutrition &nbsp; &nbsp; 
		Contact Us &nbsp; &nbsp; 
	</nav>
	
	<!-- Use the mian area to add the content of the webpage -->
	<main>
		<p>Welcome to Forward Fitness CLub. Our Mission is to help our clients meet their fitness and nutrition goals.
		<p>If you have struggled with getting healthy and need the motivation and resources to make a healthy lifestyle change, contact us today.
		<p>We provide a FREE, one-week membership to experience the benefits of our equipments. 
	
	
	</main>
	
	<!-- Use the footer area to add webpage footer content -->
	<footer> 
		&copy; Copyright 2015. All Rights Researved.<br>
			   forwardfitness@club.net
	</footer>
	
</body>
</html>